body {
	background-color: #ffffff;
}
.my-button {
	background-color: #efcb6c;
	border-color: #efcb6c;
}
.my-button:hover {
	background-color: #d39d26;
	border-color: #d39d26;
}
.description-intro-box {
	font-family: Myriad Pro;
	color: #000;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
